{% comment %} 
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h2 class="usa-hero__heading"><span class="usa-hero__heading--alt">The Eligibility APIs Initiative:</span>Changing how federal policy is conveyed to states
      </h2>
      <p>The Eligibility APIs Initiative seeks to improve how the federal government communicates policy to state implementers. The result? A more efficient, more effective, less error-prone benefits system that lets states focus on helping those in need.</p>
      <a class="usa-button" href="javascript:void(0)">Learn more</a>
    </div>
  </div>
</section>
